<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Graphics" version="1.0.5242.30810" targetFramework="net45" />
  <package id="Graphics.Wpf" version="1.0.5242.30895" targetFramework="net45" />
  <package id="WriteableBitmapEx" version="1.0.14.0" targetFramework="net45" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net45" />
</packages>